<footer>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">Guidelines</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">FAQ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Lists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">API</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Security</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Legal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Apply to YC</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>

  <div class="navbar  justify-content-center">
    <div class="container-fluid ">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
    @CodeGym, 2021
  </div>
</footer>
