<h1>Tạo sản phẩm mới</h1>
<form [formGroup]="productForm" (ngSubmit)="deleteProduct(id)">
  <table>
    <tr>
      <td class="col-5 fw-bold">Name</td>
      <td class="pt-2"><input type="text" readonly="readonly" formControlName="name"></td>
    </tr>
    <tr>
      <td class="col-5 fw-bold">Price</td>
      <td class="pt-2"><input type="number" readonly="readonly" formControlName="price"></td>
    </tr>
    <tr>
      <td class="col-5 fw-bold">Description</td>
      <td class="pt-2"><input type="text" readonly="readonly" formControlName="description"></td>
    </tr>
    <tr class="pt-3">
      <td></td>
      <td class="pt-3">
        <button class="btn btn-warning fw-bold">Delete now</button>
      </td>
    </tr>
  </table>
</form>
