<hr>
<h1>List Product</h1>
<br>
<a routerLink="/product/create">Tạo mới sản phẩm</a>
<br>
<table class="table">
  <tr class="table-success bg-secondary text-light fw-bold">
    <td>Number</td>
    <td>Name</td>
    <td>Price</td>
    <td>Description</td>
    <td class="text-center">Action</td>
  </tr>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td class="text-center">
<!--      <label class="link-primary" [routerLink]="['/edit', product.id]">Edit</label>-->
      <label class="link-primary" (click)="edit(product.id)" >Edit</label>
      |
      <label class="link-primary" [routerLink]="['/delete', product.id]">Delete</label>
    </td>
  </tr>
</table>
