<div *ngIf="userLoggedIn.userId != message.userId" class="d-flex justify-content-start mb-4">
  <div class="img_cont_msg">
    <img [src]="user.avatar" class="rounded-circle user_img_msg">
  </div>
  <div class="msg_container" data-bs-toggle="tooltip" data-bs-placement="top" [title]="nickName">
    {{message.content}}
    <span class="msg_time" data-bs-toggle="tooltip" data-bs-placement="top"
          [title]="message.time | date: 'dd-MM-yyyy'">{{message.time | date: 'hh:mm'}}</span>
  </div>
  <!--  <span class="">{{user.nickName}}</span>-->
</div>
<div *ngIf="userLoggedIn.userId == message.userId" class="d-flex justify-content-end mb-4">
  <div class="msg_container_send">
    {{message.content}}
    <span class="msg_time_send" data-bs-toggle="tooltip" data-bs-placement="top"
          [title]="message.time | date: 'dd-MM-yyyy'">{{message.time | date: 'hh:mm'}}</span>
  </div>
  <!--  <div class="img_cont_msg">-->
  <!--    <img-->
  <!--      [src]="user.avatar"-->
  <!--      class="rounded-circle user_img_msg">-->
  <!--  </div>-->
</div>
