<div class="container-lg mt-3">
<!-- ### Form Register -->
<!--<app-register></app-register>-->

<!-- ### Form Login -->
<!--<app-login></app-login>-->

<!-- ### App timelines -->
<!--<a routerLink="/timelines">Ứng dụng tính thời gian sống</a>-->
<!--<router-outlet></router-outlet>-->

<!-- ### Youtube -->
<!--<a routerLink="/youtube">Youtube</a>-->
<!--<router-outlet></router-outlet>-->

<!-- ### List Product -->
<!--<a routerLink="/product/list">Danh sách sản phẩm</a>&nbsp;|&nbsp;<a routerLink="/product/create">Tạo mới sản phẩm</a>-->
<!--<button routerLink="/product/list" class="btn-outline-primary m-1">List Product</button>-->
<!--<button routerLink="/product/create" class="btn-outline-success m-1">Create Product</button>-->
<!--<router-outlet></router-outlet>-->

<!-- ### Dictionary -->
<!--<button routerLink="/dictionary">Dictionary</button>-->
<!--<router-outlet></router-outlet>-->
<app-parent></app-parent>
</div>
