<!--<app-register></app-register>-->
<!--<app-login></app-login>-->
<!--<a routerLink="/timelines">Ứng dụng tính thời gian sống</a>-->
<!--<router-outlet></router-outlet>-->
<!--<a routerLink="/youtube">Youtube</a>-->
<!--<router-outlet></router-outlet>-->
<!--<a routerLink="/product/list">Danh sách sản phẩm</a>&nbsp;|&nbsp;<a routerLink="/product/create">Tạo mới sản phẩm</a>-->
<button routerLink="/product/list">Danh sách sản phẩm</button>&nbsp;&nbsp;<button routerLink="/product/create">Tạo mới sản phẩm</button>
<router-outlet></router-outlet>
